<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ht.dao.GradeDAO">
    <resultMap type="grade" id="gradeMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="logo" property="logo"/>
        <result column="des" property="des"/>
        <result column="count" property="count"/>
        <result column="userid" property="userId"/>
    </resultMap>

    <select id="queryAll" resultMap="gradeMap">
        select g.*, u.username,u.id as user_id ,u.head  from t_grade g, t_user u where g.userid = u.id
    </select>

    <select id="queryById" parameterType="int" resultType="grade">
        select g.*, u.username,u.id as user_id ,u.head  from t_grade g, t_user u where u.id  = g.userid and g.id = #{id}
    </select>

    <insert id="insert" parameterType="grade">
        insert into t_grade(name,logo,des,count) values(#{name}, #{logo},#{des},#{count})
    </insert>



    <update id="update" parameterType="grade">
        update t_grade set name = #{name}, logo = #{logo},des = #{des}, count = #{count} where id = #{id}
    </update>



    <select id="queryByPager" resultMap="gradeMap">
        select * from t_grade where 1 = 1
        <if test="grade.name != null and grade.name != ''">
            and name like concat('%', #{grade.name}, '%')
        </if>
        <if test="grade.price != null and grade.price != ''">
            and price = #{grade.price}
        </if>
        limit #{pager.beginIndex}, #{pager.pageSize}
    </select>

    <select id="count" resultType="int" parameterType="grade">
        select count(id) from t_grade where 1 = 1
        <if test="name != null and name != ''">
            and name like concat('%', #{name}, '%')
        </if>
        <if test="price != null and price != ''">
            and price = #{price}
        </if>
    </select>

</mapper>