<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ht.dao.NoticeDAO">
	<resultMap type="notice" id="noticeMap">
		<id column="noticeid" property="noticeId"/>
		<result column="name" property="name"/>
		<result column="des" property="des"/>
		<result column="noticeday" property="noticeDay"/>
		<result column="status" property="status"/>
		<result column="userid" property="userId" />
		<result column="noticetypeid" property="noticeTypeId" />
	</resultMap>

	<select id="query" parameterType="notice" resultType="notice">
		select * from t_notice where noticeid = #{noticeid};
	</select>

	<select id="queryAll" resultMap="noticeMap">
		select * from t_notice
	</select>

	<select id="queryById" parameterType="int" resultType="notice">
		select * from t_notice where noticeid = #{noticeid}
	</select>

	<insert id="insert" parameterType="notice">
		insert into t_notice(name,des, noticeday, userid, noticetypeid) values(#{name}, #{des}, now(), #{userId}, #{noticeTypeId})
	</insert>

	<update id="update" parameterType="notice">
		update t_notice set name = #{name}, des = #{des}, noticeday = now() , userid = #{userId}, noticetypeid = #{noticeTypeId} where noticeid = #{noticeId}
	</update>

	<select id="queryByPager" resultMap="noticeMap">
		select n.*, nt.id as type_id from t_notice n, t_noticetype nt where nt.id = n.noticeType limit #{pager.beginIndex}, #{pager.pageSize}
	</select>

	<select id="count" resultType="int" parameterType="notice">
		select count(noticeid) from t_notice;
	</select>
	
	<delete id="delete" parameterType="int">
		delete from t_notice where noticeid = #{noticeid}
	</delete>

	<delete id="deleteById" parameterType="int">
		delete from t_notice where noticeid = #{noticeid}
	</delete>
</mapper>