<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ht.dao.NoticeInfoDAO">
	<resultMap type="noticeInfo" id="noticeInfoMap">
		<id column="notice_id" property="noticeId"/>
		<result column="name" property="name"/>
		<result column="des" property="des"/>
		<result column="noticeday" property="noticeDay"/>
		<result column="status" property="status"/>
		<result column="noticeType_id" property="noticeTypeId" />
		<result column="noticeType_name" property="noticeTypeName" />
		<result column="user_name" property="userName" />
		<result column="user_id" property="userId" />
		<result column="user_head" property="userHead" />
	</resultMap>

	<select id="queryByPager" resultMap="noticeInfoMap">
		select n.noticeid as noticeId, n.name, n.des, n.noticeday as noticeDay, n.status,
		 u.id as userId, u.head as userHead, u.username as userName, nt.id as noticeTypeId, nt.name as noticeTypeName
		from t_notice n, t_noticetype nt, t_user u where n.userid =
	  	u.id and nt.id = n.noticetypeid order by n.noticeday Desc limit #{pager.beginIndex}, #{pager.pageSize};
	</select>

	<select id="queryByIndex" resultMap="noticeInfoMap">
		select n.noticeid as noticeId, n.name, n.des, n.noticeday as noticeDay, n.status,
		u.id as userId, u.head as userHead, u.username as userName, nt.id as noticeTypeId, nt.name as noticeTypeName
		from t_notice n, t_noticetype nt, t_user u where n.userid =
		u.id and nt.id = n.noticetypeid order by n.noticeday Desc limit 0, 3;
	</select>

	<select id="count" resultType="int" parameterType="notice">
		select count(noticeid) from t_notice;
	</select>
</mapper>