<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.dao.PhotoDAO">

    <resultMap id="photoResultMap" type="photo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="des" column="des"/>
        <result property="image" column="image"/>
        <result property="createTime" column="createtime"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="queryById" resultType="photo" parameterType="string">
        <![CDATA[

        select * from t_photo where status = 1 and id=#{id}

        ]]>
    </select>

    <select id="query" parameterType="photo" resultMap="photoResultMap">
        <![CDATA[

        select * from t_photo where status = 1

        ]]>
    </select>

    <select id="queryAll" resultType="list" resultMap="photoResultMap">
        <![CDATA[

        select * from t_photo where status = 1 and 1 = 1

        ]]>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="photo">
        <![CDATA[

        insert into t_photo(name, des, image, createtime, status, userid)
        values(#{name}, #{des}, #{image}, #{createTime}, #{status}, #{user.id})

        ]]>
    </insert>

    <update id="update" keyProperty="id" parameterType="photo">
        <![CDATA[

        update t_photo set name = #{name}, des=#{des}, image=#{image}, createtime=#{createTime}, status=#{status} where id = #{id}

        ]]>
    </update>

    <select id="queryByRandom" resultType="list" resultMap="photoResultMap">
        <![CDATA[
        select * from t_photo where status = 1 and id >= (select floor(RAND() * ((select MAX(id) from t_photo)-(select MIN(id) from t_photo)) + (select MIN(id) from t_photo))) order by id limit 50
        ]]>
    </select>

    <delete id="delete">
        <![CDATA[

        delete from t_photo where id = #{id}

        ]]>

    </delete>

</mapper>