<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ht.dao.UserRoleDAO">
    <resultMap type="userRole" id="userRoleMap">
        <id column="id" property="id"/>
        <result column="userid" property="userId"/>
        <result column="roleid" property="roleId"/>

    </resultMap>

    <insert id="insert" parameterType="userRole">
        insert into t_user_role(userid,roleid) values(#{userId}, #{roleId})
    </insert>

    <update id="update" parameterType="userRole">
        update t_user_role set roleid = #{roleId} where userid = #{userId}
    </update>


    <select id="queryByUserId" parameterType="int" resultType="userRole">
        select * from t_user_role where userid = #{userId}
    </select>

</mapper>